<?xml version="1.0" encoding="utf-8"?>
<!-- AndroidOnly: WP-002 Launcher; WP-303 registers the process Application. Radio, network and service declarations come from core:connectivity's manifest. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Optional: approximate location is read once to suggest the radio region during onboarding. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.meshcoreone.android.app.MeshCoreApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/scaffold_data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/l10n_locales"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeshCoreOne">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="meshcore" android:host="map" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="meshcore" android:host="contact" android:path="/add" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="meshcore" android:host="channel" android:path="/add" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="meshcoreone" android:host="hashtag" />
            </intent-filter>
        </activity>
    </application>
</manifest>
